@font-face {
  font-family: "Satoshi-Light";
  src: url("/assets/fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("/assets/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("/assets/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Font */
/* Spacing */
/*
$spacing-01: 0.125rem;
$spacing-02: 0.25rem;
$spacing-03: 0.5rem;
$spacing-04: 0.75rem;
$spacing-05: 1rem;
*/
/* Container */
/* Gradients */
/* Events */
/* Z-index */
.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;
  line-height: 1;
  height: 44px;
  gap: 5px;
  background-color: #fff;
  color: #29292f;
  width: 100%;
  box-sizing: border-box;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 1px solid #e8e8e8;
  text-align: left !important;
  font-family: "Satoshi-Medium", sans-serif !important;
  text-indent: 18px;
}

.SelectTrigger:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.SelectTrigger:focus {
  box-shadow: 0px 0px 0px 2px rgba(48, 128, 248, 0.5) !important;
}

.SelectTrigger[data-placeholder] {
  color: var(--violet9);
}

.SelectTrigger[data-state="open"] {
  box-shadow: 0px 0px 0px 2px rgba(48, 128, 248, 0.5);
}

.SelectValue {
  text-align: left;
  flex: 1;
  display: block;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  box-sizing: border-box;
  text-indent: 18px !important;
}
.SelectValue span {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 100%;
  line-height: 44px;
  text-indent: 18px !important;
}

.SelectIconDrop,
.SelectIconType {
  text-align: center;
}

.SelectIconType {
  padding-left: 16px;
  padding-right: 4px;
}

.SelectIconDrop {
  padding-right: 16px;
}

.SelectTrigger[data-state="open"] .SelectIconDrop img {
  transform: rotate(180deg);
}

.Portal {
  position: absolute;
}

.SelectContent {
  position: absolute;
  overflow: hidden;
  z-index: 99999999999;
  width: var(--radix-select-trigger-width);
  max-height: var(--radix-select-content-available-height);
  font-family: "Satoshi-Medium", sans-serif;
  background-color: white;
  border-radius: 15px;
  margin-top: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.SelectItem {
  font-size: 14px;
  line-height: 1;
  color: var(--violet11);
  display: flex;
  align-items: center;
  height: 44px;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  user-select: none;
}

.SelectItem[data-disabled] {
  color: #6e7684;
  pointer-events: none;
}

.SelectItem[data-highlighted] {
  background: #f6f7fb;
  outline: none !important;
}

.SelectItem:hover {
  background: #f6f7fb;
  cursor: pointer;
}

.SelectSeparator {
  height: 1px;
  background-color: #e8e8e8;
  width: calc(100% - 24px);
  margin: auto;
  border-radius: 30px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.SelectItemIndicator {
  position: absolute;
  right: 12px;
  width: 24px;
  height: 24px;
  background: #3080f8;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: var(--violet11);
  cursor: default;
}

.SelectOff {
  background: #faf0f4;
  color: #d2234d;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-right: 4px;
  border-radius: 30px;
  font-size: 12px;
  font-weight: 700;
}
