@font-face {
  font-family: "Satoshi-Light";
  src: url("/assets/fonts/Satoshi-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Medium";
  src: url("/assets/fonts/Satoshi-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi-Bold";
  src: url("/assets/fonts/Satoshi-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
/* Colors */
/* Font */
/* Spacing */
/*
$spacing-01: 0.125rem;
$spacing-02: 0.25rem;
$spacing-03: 0.5rem;
$spacing-04: 0.75rem;
$spacing-05: 1rem;
*/
/* Container */
/* Gradients */
/* Events */
/* Z-index */
.modalWrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
  z-index: 99999999999;
}

.modal {
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  margin: auto;
  padding: 24px;
  background: #fff;
  z-index: 99999999999;
  text-align: center;
  width: fit-content;
  height: fit-content;
  border-radius: 30px;
}
.modal .emoji {
  font-size: 22px;
}
.modal .title {
  font-family: "Satoshi-Bold", sans-serif;
  color: #29292f;
  text-align: center;
  margin-top: 8px;
}
.modal .subtitle {
  font-family: "Satoshi-Medium", sans-serif;
  color: #6e7684;
  margin-top: 8px;
  text-align: center;
  width: 300px;
  line-height: 150%;
}
.modal .button {
  background:
    radial-gradient(
      118.3% 119.01% at 35.44% 0%,
      #2baef8 23.13%,
      #3582f6 46.35%,
      #486def 74.48%,
      #7b9aea 100%
    ),
    #1b58f6;
  color: #fff;
  text-align: center;
  padding: 8px 16px;
  border-radius: 30px;
  margin-top: 18px;
  font-family: "Satoshi-Medium", sans-serif;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.modal .button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modalBackground {
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
}

.close {
  position: absolute;
  right: 18px;
  top: 18px;
}
.close:hover {
  cursor: pointer;
  opacity: 0.8;
}
